# Perkenalan

## Team :

1. Nichoulaus Verdhy P - PYTN-KS011-023
2. Tassyirifiyya - PYTN-KS011-012
3. Isma - PYTN-KS011-008

Python for Data Science - Studi Independen - Kampus Merdeka

# Latar Belakang

Heart Failure Clinical Records Dataset adalah kumpulan data yang berisi informasi klinis pasien dengan gagal jantung, Dataset ini memberikan wawasan berharga tentang faktor-faktor dan variabel yang terkait dengan gagal jantung. Dataset ini mencakup berbagai fitur atau variabel yang menggambarkan berbagai aspek kesehatan pasien, seperti usia, jenis kelamin, tekanan darah, kadar kreatinin, dan sebagainya. Dengan menganalisis dataset ini, kita dapat mencari hubungan antara variabel-variabel tersebut dan risiko atau kemungkinan terjadinya gagal jantung.

Beberapa variabel yang umumnya terdapat dalam dataset ini dan dapat dianalisis antara lain:

1. Umur: Usia pasien dapat menjadi faktor risiko atau indikator keparahan gagal jantung.
2. Jenis Kelamin: Analisis dapat dilakukan untuk melihat perbedaan antara jenis kelamin dalam hal prevalensi atau karakteristik gagal jantung.
3. Anemia: Faktor anemia dapat dikaji untuk melihat pengaruhnya terhadap perkembangan atau progresi gagal jantung.
4. Kreatinin Fosfokinase: Kadar enzim kreatinin fosfokinase dalam darah dapat memberikan informasi tentang kerusakan otot jantung.
5. Diabetes: Analisis dapat dilakukan untuk melihat hubungan antara diabetes dan risiko atau keparahan gagal jantung.
6. Fraksi Ejeksi: Fraksi ejeksi menggambarkan kemampuan jantung untuk memompa darah. Analisis fraksi ejeksi dapat memberikan informasi tentang fungsi jantung.
7. Tekanan Darah Tinggi: Hubungan antara tekanan darah tinggi dan gagal jantung dapat diteliti untuk memahami keterkaitan keduanya.
8. Platelet: Kadar platelet dalam darah dapat dikaji untuk mengevaluasi peran gangguan pembekuan darah pada gagal jantung.
9. Serum Kreatinin: Kadar kreatinin dalam darah dapat menjadi indikator fungsi ginjal dan berpotensi terkait dengan gagal jantung.
10. Sodium Kreatin: Kadar natrium dan kreatinin dalam darah dapat memberikan informasi tentang keseimbangan elektrolit dan fungsi ginjal.
11. Perokok: Analisis dapat dilakukan untuk melihat hubungan antara merokok dan risiko atau keparahan gagal jantung.
12. Waktu: Lama kunjungan pasien atau waktu tindak lanjut dapat memberikan informasi tentang prognosis atau kebutuhan perawatan jangka panjang.
13. Kematian: Variabel ini dapat memberikan informasi tentang status kematian pasien

Variabel-variabel ini dapat dianalisis untuk mencari hubungan, pola, atau faktor risiko yang terkait dengan gagal jantung

## Objektif

Final Project 3 ini dibuat guna mengevaluasi konsep Ensemble sebagai berikut:

● Mampu memahami konsep Classification dengan Ensemble Model

● Mampu mempersiapkan data untuk digunakan dalam Ensemble Model

● Mampu mengimplementasikan Ensemble Model untuk membuat prediksi

# Import Pustaka

In [1]:
#untuk dataframe
import pandas as pd
import numpy as np

#untuk visualisasi data
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import folium
from folium.plugins import FastMarkerCluster

#mengatur display biar maximal
pd.options.display.max_rows = None
pd.options.display.max_columns = None

#modeling
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score # mencari accurasi 
from sklearn.metrics import confusion_matrix # membuat confusion maytris
from sklearn.metrics import classification_report # laporan klasifikasi
from sklearn.metrics import r2_score # evaluasi performa model
from sklearn.metrics import mean_squared_error # menghitung nilai error rata-rata

# Data Loading

## Memanggil Dataset

In [2]:
df = pd.read_csv("heart_failure_clinical_records_dataset.csv")
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

## Melihat Ukuran Data ( Baris, kolom)

In [3]:
df.shape

(299, 13)

## Pengecekan Nama Kolom

In [4]:
df.columns.values

array(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'], dtype=object)

## Penjelasan Perkolom

1. age - umur pasien
2. anaemia - apakah ada pengurangan haemoglobin
3. creatinine_phosphokinase - level enzim CPK dalam mcg/L
4. diabetes - apakah pasien punya riwayat diabetes
5. ejection_fraction - persentase darah yang meninggalkan jantung dalam persentasi di setiap kontraksi jantung
6. high_blood_pressure - apakah pasien punya darah tinggi
7. platelets - jumlah platelet di darah dalam kiloplatelets/mL
8. serum_creatinine - level serum creatinine di darah dalam mg/dL
9. serum_sodium - level serum sodium di darah dalam mEq/L
10. sex - apakah pasien pria atau wanita
11. smoking - apakah pasien merokok
12. time - waktu dalam hari untuk follow-up
13. DEATH_EVENT - apakah pasien sudah meninggal saat waktu follow-up

## Tipe Data

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

## Deakriptif Statistik

In [6]:
df.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

## Pengecekan Missing Value

In [7]:
df.isna().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

## Perhitungan Persentase Missing Value

In [8]:
for col in df.columns:
    null_count = df[col].isnull().sum()
    total_count = len(df[col])
    perc_missing = (null_count / total_count) * 100
    
    print(f"Kolom {col}:")
    print(f"Jumlah nilai null: {null_count}")
    print(f"Total data: {total_count}")
    print(f"Persentase missing value: {perc_missing:.2f}%\n")

Kolom age:
Jumlah nilai null: 0
Total data: 299
Persentase missing value: 0.00%

Kolom anaemia:
Jumlah nilai null: 0
Total data: 299
Persentase missing value: 0.00%

Kolom creatinine_phosphokinase:
Jumlah nilai null: 0
Total data: 299
Persentase missing value: 0.00%

Kolom diabetes:
Jumlah nilai null: 0
Total data: 299
Persentase missing value: 0.00%

Kolom ejection_fraction:
Jumlah nilai null: 0
Total data: 299
Persentase missing value: 0.00%

Kolom high_blood_pressure:
Jumlah nilai null: 0
Total data: 299
Persentase missing value: 0.00%

Kolom platelets:
Jumlah nilai null: 0
Total data: 299
Persentase missing value: 0.00%

Kolom serum_creatinine:
Jumlah nilai null: 0
Total data: 299
Persentase missing value: 0.00%

Kolom serum_sodium:
Jumlah nilai null: 0
Total data: 299
Persentase missing value: 0.00%

Kolom sex:
Jumlah nilai null: 0
Total data: 299
Persentase missing value: 0.00%

Kolom smoking:
Jumlah nilai null: 0
Total data: 299
Persentase missing value: 0.00%

Kolom time:
Jumlah nilai null: 0
Total data: 299
Persentase missing value: 0.00%

Kolom DEATH_EVENT:
Jumlah nilai null: 0
Total data: 299
Persentase missing value: 0.00%

## Pengecekan Data Yang Duplikat

In [9]:
df[df.duplicated()]

Empty DataFrame
Columns: [age, anaemia, creatinine_phosphokinase, diabetes, ejection_fraction, high_blood_pressure, platelets, serum_creatinine, serum_sodium, sex, smoking, time, DEATH_EVENT]
Index: []

In [10]:
df.duplicated().sum()

0

# Data Cleansing

In [11]:
df.isna().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [13]:
df.rename(columns={'age':'umur', 'anaemia':'anemia', 'creatinine_phosphokinase':'kreatin_fosfokinase', 'ejection_fraction':'fraksi_ejeksi', 'high_blood_pressure':'tekanan_darah_tinggi', 'serum_creatine':'kreatin_serum', 'serum_sodium':'sodium_kreatin', 'sex':'jenis_kelamin', 'smoking':'perokok', 'time':'waktu', 'DEATH_EVENT':'Kematian'}, inplace=True)
df.head()

,umur,anemia,kreatin_fosfokinase,diabetes,fraksi_ejeksi,tekanan_darah_tinggi,platelets,serum_creatinine,sodium_kreatin,jenis_kelamin,perokok,waktu,Kematian
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

# Eksplorasi Data Analist